/*****************************************
    IMPORTS
*****************************************/
@import "ibm-colors";

/*****************************************
    STANDARD TAG OVERRIDES
*****************************************/
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: color('gray', 50);
}
h1, h2, h3 {
    font-size: 5em;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}
h1 {
    margin: 50px 0px;
    color: white;}
h2 {
    font-size: 3em;
    background: none;
}
h3, h4 {
    font-size: 2em;
    margin: 0px 0px 20px 0px;
    color: color('gray', 70);
    text-align: left;
    font-weight: 400;
}
h4 {
    font-size: 1.8em;
    letter-spacing: 1px;
}
body {
    background: color('gray', 1);
}
.action-btn {
    height: 60px;
    background: color('cerulean', 30);
    color: color('white', 0);
    border: none;
    display: block;
    padding: 0px 50px;
    font-size: 1.2em;
    letter-spacing: 2px;
    outline: none; // Removes blue glow on click
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    &:hover {
        background: color('cerulean', 20);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        text-decoration: none;
    }
}
a, .action-btn{
    text-decoration: none;
}
.center-btn {
    margin: 40px auto 0px auto;
}
.hero-btn {
    margin-bottom: 80px;
    i {color: color('white', 0);}
}

/*****************************************
    BOOTSTRAP OVERRIDES
*****************************************/
.navbar {
    height: 80px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: none;
    background: color('gray', 80, 0.95) !important;
    img {
        height: 80px;
        width: auto;
        padding: 10px 40px;
    }
    ul {
        display: inline-block;
        float: right;
        padding-right: 40px;
        margin-right: -12px;
    }
    li {
        display: inline-block;
        color: white;
        height: 80px;
        line-height: 80px;
        padding: 0px 12px 0px 20px; // Minus 8px right for letter-spacing
        font-size: 1.2em;
        letter-spacing: 6px;
        font-weight: 200;
        transition: all 0.5s ease-in-out;
        &:hover {
            background: color('gray', 70);
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }
    }
}
.navbar-brand {
    padding: 0px 0px 0px 15px;
}
.container-fluid {
    padding: 0px;
}
.container {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 20px;
}

/*****************************************
    CUSTOM CLASSES
*****************************************/
.max-content {
    max-width: 1200px;
    background: white;
    margin: 0 auto !important;
}
.title-container {
    height: auto;
    min-height: 70px;
    width: calc(100% - 40px);
    margin: 0px 10px 10px 10px;
    float: left;
}
.tile {
    background: color('white', 0);
    box-shadow: 0px 0px 10px color('gray', 80, 0.25);
}
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-7, {
    height: auto;
    min-height: 500px; //Delete
    width: calc(100% - 40px);
    margin: 20px !important;
    padding: 20px;
    float: left;
}
.col-sm-3 {width: calc(25% - 40px)};
.col-sm-5 {width: calc(33% - 40px)};
.col-sm-7 {width: calc(67% - 40px)};
.tile-image {
    img {
        height: auto;
        width: 100%;
        display: block;
    }
}
.tile-title {
    min-height: 50px;
    height: auto;
    width: 100%;
    padding-top: 14px;
    float: left;
    display: block;
}
.tile-tools {
    min-height: 20px;
    float: left;
    li {
        display: inline-block;
        color: color('gray', 80);
        padding: 4px 12px;
        margin: 0px 5px 8px 0px;
        font-weight: 400;
        font-size: 0.9em;
        letter-spacing: 2px;
        border: 2px solid color('gray', 80);
        border-radius: 20px;
    }
}
.tools-style {
    font-weight: 400;
    letter-spacing: 2px;
}
.tile-link {
    min-height: 36px;
    padding-top: 20px;
    height: auto;
    width: 100%;
    display: block;
    float: left;
    text-align: right;
    position: absolute;;
    bottom: 20px;
    right: 20px;
    a {
        color: color('white', 0);
        background: color('gray', 80);
        padding: 10px 20px;
        display: inline-block;
        border-radius: 50px;
        transition: all 0.5s ease-in-out;
        letter-spacing: 2px;
        &:hover {
            background: color('ultramarine', 30);
            padding: 10px 20px;
            transition: all 0.5s ease-in-out;
            text-decoration: none;
        }
    }
    i {color: color('white', 0);}
}

.landing {
    background-image: url('../../dist/img/mountain-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 80px 40px 20px 40px;
}
.landing-content {
    padding: 20px;
}
.anchor-offset {
    height: 80px;
    width: 100%;
    float: left;
    margin-top: -80px;
    opacity: 0;
}
.footer {
    height: 300px;
    width: 100%;
    float: left;
    background: color('cerulean', 30);
}
/*****************************************
    CUSTOM ID'S
*****************************************/
#connect {
    transition: all 2s ease-in-out;
}

/*****************************************
    MEDIA QUERIES
*****************************************/
/* Small Devices, Phones */
@media only screen and (min-width : 320px) {
    //Should assume the defaults
}

/* Medium Devices, Tablets, Phones */
@media only screen and (min-width : 768px) {
    .col-sm-4,
    .col-sm-3 {width: calc(50% - 40px);}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .col-sm-4 {width: calc(33.33% - 40px);}
    .col-sm-3 {width: calc(25% - 40px)};
}
